<div class="ui-g content">
    <!-- <div class="ui-g-12 ui-md-2 menu" style="background: #dddd;">Menu</div> -->
    <div class="ui-g-12 ui-md-12 ui-g-nopad">
        <div class="ui-g-12 sidebar bg-secondary">
            {{title}}
            <div id="time" class="text-right"></div>
        </div>
        <br><br>
        <div class="ui-g-12 ui-g-nopad">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="ui-g-12 footer bg-secondary">
    </div>
</div>