<table class="styled-table w-100">
    <tr class="identificador-content">
        <td>
            <span class="identificador-nome">Aluno:</span>
            <span> {{aluno.nome | uppercase}}</span>
        </td>
        <td>
            <span class="identificador-nome">Matrícula:</span>
            <span> {{aluno.matricula}}</span>
        </td>
        <td>
            <span class="identificador-nome">Status:</span>
            <span> {{aluno.status | uppercase}}</span>
        </td>
    </tr>
</table>